*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  line-height: 1;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  border: none;
}